<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<groups>
<run>
<include name="high"/>
<include name="low"/>
</run>

</groups>
  <test name="Test">
    <classes>
       <class name="TestNGSamples.test3"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
